<nav class="ui blue menu">
  <header class="header item"> <a href="/home"> nearForm Zendesk Metrics Dashboard </a> </header>
  <div class="right menu">
    <a class="item" href="/home">Home</a>
    <a class="item" href="/logout">Logout</a>
  </div>
</nav>
