{{> loginmenu }}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui four wide column">
      <img src="images/nf1.jpg" class="ui centered medium image">
    </div>
    <div class="ui eight wide column">
      <div class="ui basic very padded segment">
        <h1 class="ui blue header">Zendesk Dashboard System</h1>
      </div>
    </div>
  </div>
  <div class="ui grid">
    <div class="ui four wide column">
    </div>
    <div class="ui six wide column">
      <div class="ui basic very padded segment">
        <form>
          <button class="ui blue fluid button" formaction="/login">Log in with Google</button>
        </form>
      </div>
      {{> formerror }}
    </div>

  </div>
</section>
