{{> menu}}

<section class="ui blue raised segment">
  <div class="ui grid">
    <div class="ui four wide column">
    </div>
    <div class="ui twelve wide column">
      <h3>the Zen Tractor</h3>
    </div>
  </div>
</section>
<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui four wide column">
      <img src="images/nf1.jpg" class="ui centered medium image">
    </div>
    <div class="ui twelve wide column fluid form">
      <form action="/getTickets" method="GET">
        <h3 class="ui header">Choose your view</h3>
        <button class="ui blue submit button">Get Zendesk tickets</button>
      </form>
    </div>
  </div>
</section>

